# Python bytecode
__pycache__/
*.py[cod]

# Environments
.venv/
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Data science specific
.ipynb_checkpoints/
*.csv
*.xlsx
!data_template.csv
.python-version
